@tailwind base;
@tailwind components;
@tailwind utilities;

@media (pointer: fine) {
  *, *::before, *::after {
    cursor: none !important;
  }
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: rgb(55 65 81);
  color: white;
}

h1, h2, h3 {
  font-family: var(--font-lora), Georgia, serif;
}

@layer utilities {
  .fade-bottom {
    background: linear-gradient(to bottom, transparent 90%, black 100%);
  }

  .light-mode-fade-bottom {
    background: linear-gradient(to bottom, transparent 95%, white 100%);
  }
}
